html{
    background-color: #D3D3D3;
}
h1{
    text-align: center;
    font-size: 100px;
}
h2{
    text-align: center;
    font-size: 80px;
}
img {
    display: block;
    margin: 0 auto;
    height: 800px;
    width: auto;
    border-radius: 50px;
}
p{
    font-family: 'Slabo 27px', serif;
    padding: 10px 60px 0px 60px;
    font-size: 20px;
}